//Extended colors palette - used internally in the UXDL, not recommended to be used directly by users
$blue:   #ddf2f0, #cff5f2, #9ADBE8, #8ed8f2, #2daff9, #00A3E0, #0083ea, #0054c2, #003da5, #002466, #00183f, #020f21;
$purple: #fcf0f7, #ffe5f4, #ffdcf2, #f9c1e5, #ef8cce, #eb73c4, #db56b2, #bf1c8e, #b0017e, #8c0063, #660049, #3f002d;
$red:    #fcefed, #ffe5e0, #ffded6, #ffccc6, #ffaaa8, #ff9b99, #ff7a75, #ff3a30, #fe1a0e, #c6140a, #8e0f07, #590a05;
$orange: #f7f3eb, #f4ebd7, #f7e7bf, #f9e2a0, #ffc63f, #ffb80f, #ffa50a, #ff8205, #ff7000, #c46600, #873a00, #4c2100;
$green:  #edefe4, #e6f2c4, #dbf0ad, #cce891, #aadb5b, #9bd442, #72cc47, #26ba4f, #00b055, #008c42, #006630, #003f1e;
$gray:   #f2f2f2, #d8d8d8, #cccccc, #bababa, #919191, #7f7f7f, #6b6b6b, #444444, #333333, #282828, #1c1c1c, #111111;