//Colors recommended to be used by users
$pg-primary-color: #003DA5 !default;
$pg-secondary-color: #00A3E0 !default;
$pg-light-blue: #9ADBE8 !default;
$pg-dark-blue: #012169 !default;
$pg-gray: #AFAFAF !default;
$pg-white:  #FFFFFF !default;
$pg-black: #000000 !default;
$pg-yellow: #FEDB00 !default;
$pg-red: #EF3340 !default;
$pg-orange: #E87722 !default;
$pg-light-orange: #F1B434 !default;
$pg-green: #00B140 !default;
$pg-light-green: #97D700 !default;
$pg-purple: #AF1685 !default;
$pg-pink: #F277C6 !default;




