.pg-tooltip {
  padding: 1em 1.5em 1.5em 1em;
  box-sizing: border-box;
  position: absolute;
  display: none;
  width: 18em;
  text-align: left;
  color: $pg-white;
  background-color: rgba(nth($gray, 8), 0.9);
  transform: translateX(-50%);
  z-index: 10;
  left: 50%;

  &__container {
    &:focus {
      outline: none;
    }
    &:not(.hint-container):focus {
      box-shadow: 0 0 1px 1px $pg-secondary-color;
    }
    &.hint-container:focus {
      &::before, &::after {
        box-shadow: 0 0 1px 1px $pg-secondary-color;
      }
    }
  }

  &.top {
    margin-bottom: 1em;
    bottom: 100%;

    &::after {
      top: 100%;
    }
  }
  &.bottom {
    margin-top: 1em;
    top: 100%;

    &::after {
      transform: rotateX(180deg);
      bottom: 100%;
    }
  }
  &.left {
    transform: translateX(-100%);

    &::after {
      border-right-width: 0;
      margin-left: -1em;
      left: 100%;
    }
  }
  &.right {
    transform: none;

    &::after {
      border-left-width: 0;
      margin-left: 0;
      left: 0;
    }
  }

  // arrow
  &::after {
    content: "";
    border-width: 1em 1em 0;
    border-color: rgba(nth($gray, 8), 0.9) transparent;
    border-style: solid;
    position: absolute;
    margin-left: -1em;
    font-size: 1em;
    z-index: 1;
    left: 50%;
  }

  &.icon {
    [class^="icon-"],
    [class*=" icon-"] {
      height: 1em;
      font-size: 3rem;
      left: 0.25em;
      margin-top: -0.5em;
      position: absolute;
      text-align: center;
      top: 50%;
      width: 1em;
    }

    .hint-content {
      padding-left: 4em;
    }
  }
  &.open {
    display: block;
  }
}
