// Import font file
@font-face {
  font-family: "Montserrat";
  src: url("./assets/fonts/Montserrat-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

$primary-color: #003da5;
$white-color: #ffffff;
$gray-color: "#ACACAC";
